In [92]:
import pandas as pd

# Load CSV files into DataFrames
horses_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\horses.csv')
jockeys_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\jockeys.csv')
prognoses_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\prognoses.csv')
races_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\races.csv')
trainers_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\trainers.csv')
winnings_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\winnings.csv')
final_results_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\final_results.csv')

In [93]:
# View the first few rows
print(horses_df.head())

  horse_id race_id                     race_name     horse_name number sex  \
0      H_1     R_1  Prix Zeturf (Prix North Jet)       MARSELAN      1   H
1      H_2     R_1  Prix Zeturf (Prix North Jet)    HASHTAG JOA      2   F
2      H_3     R_1  Prix Zeturf (Prix North Jet)          GABON      3   M
3      H_4     R_1  Prix Zeturf (Prix North Jet)  SACHA SUNRISE      4   M
4      H_5     R_1  Prix Zeturf (Prix North Jet)         ZABYAK      5   M

  age  handicap_weight         jockey                      trainer  \
0   2             57.0      Demuro C.                     Brogi S.
1   2             55.5   Roussel Ale.                  Monfort Ed.
2   2             55.5  Murzabayev B.  Janackova Koplikova Mlle I.
3   2             55.5       Guyon M.                 Vermeulen F.
4   2             55.5     Besnier H.  Janackova Koplikova Mlle I.

   win_odd_live  reference_odd  min_place_odd  max_place_odd  ze_show_odd  \
0           3.1            3.0            1.3            1.8          5.0
1           4.4            5.1            1.8            2.4          3.4
2           2.9            3.1            1.3            1.8          3.6
3           6.7            6.1            3.0            4.2          4.2
4          15.4           14.6            5.5            7.6          8.1

   ze_4th_odd        music  corde  position
0         0.0        3p 1p      7         1
1         0.0  4p 2p 4p 1p      1         4
2         0.0           3p      3         2
3         0.0           5p      4         3
4         0.0           7p      6         5

In [94]:
print(jockeys_df.head())

  jockey_id    jockey_name race_id                     race_name horse_id  \
0       J_1      Demuro C.     R_1  Prix Zeturf (Prix North Jet)      H_1
1       J_2   Roussel Ale.     R_1  Prix Zeturf (Prix North Jet)      H_2
2       J_3  Murzabayev B.     R_1  Prix Zeturf (Prix North Jet)      H_3
3       J_4       Guyon M.     R_1  Prix Zeturf (Prix North Jet)      H_4
4       J_5     Besnier H.     R_1  Prix Zeturf (Prix North Jet)      H_5

  horse_number     horse_name  handicap_weight  win_odd_live  reference_odd  \
0            1       MARSELAN             57.0           3.1            3.0
1            2    HASHTAG JOA             55.5           4.4            5.1
2            3          GABON             55.5           2.9            3.1
3            4  SACHA SUNRISE             55.5           6.7            6.1
4            5         ZABYAK             55.5          15.4           14.6

   min_place_odd  max_place_odd  ze_show_odd  ze_4th_odd  position
0            1.3            1.8          5.0         0.0         1
1            1.8            2.4          3.4         0.0         4
2            1.3            1.8          3.6         0.0         2
3            3.0            4.2          4.2         0.0         3
4            5.5            7.6          8.1         0.0         5

In [95]:
print(prognoses_df.head())

  prognose_id race_id                                          race_name  1st  \
0        OC_1     R_1                       Prix Zeturf (Prix North Jet)    3
1        OC_2     R_2                 Prix Grandeur Nature (Prix Ramsin)    2
2        OC_3     R_3   Prix Sissy's Art et Création (Prix Voix du Nord)    6
3        OC_4     R_4  Prix Clôture du Meeting Clairefontaine l'Athip...   10
4        OC_5     R_5  Prix Juste Equilibre avec Darty Deauville (Pri...    1

   2nd  3nd  4th  5th  6th  7th
0    1    2    4    0    0    0
1    5    1    3    0    0    0
2    4    7    2    0    0    0
3    4    7   14    6    8    5
4    7    2   11   10    4    6

In [96]:
print(races_df.head())

  race_id        date  Start      event_name  \
0     R_1  26/08/2023  13h23  CLAIREFONTAINE
1     R_2  26/08/2023  13h58  CLAIREFONTAINE
2     R_3  26/08/2023  14h33  CLAIREFONTAINE
3     R_4  26/08/2023  15h15  CLAIREFONTAINE
4     R_5  26/08/2023  15h53  CLAIREFONTAINE

                                           race_name race_type  distance  \
0                       Prix Zeturf (Prix North Jet)      Plat      1800
1                 Prix Grandeur Nature (Prix Ramsin)      Plat      2900
2   Prix Sissy's Art et Création (Prix Voix du Nord)      Plat      2200
3  Prix Clôture du Meeting Clairefontaine l'Athip...      Plat      2200
4  Prix Juste Equilibre avec Darty Deauville (Pri...      Plat      2200

     prize   field  track   corde  penetrometer  number of horses  race time
0  34000.0  Souple  Herbe  droite           3.6                 6      115.6
1  28000.0  Souple  Herbe  droite           3.6                 7        0.0
2  28000.0  Souple  Herbe  droite           3.6                 7      144.5
3  53000.0  Souple  Herbe  droite           3.6                16      148.2
4  25000.0  Souple  Herbe  droite           3.6                12      147.2

In [97]:
print(trainers_df.head())

  trainer_id                 trainer_name jockey_id    jockey_name race_id  \
0        T_1                     Brogi S.       J_1      Demuro C.     R_1
1        T_2                  Monfort Ed.       J_2   Roussel Ale.     R_1
2        T_3  Janackova Koplikova Mlle I.       J_3  Murzabayev B.     R_1
3        T_4                 Vermeulen F.       J_4       Guyon M.     R_1
4        T_3  Janackova Koplikova Mlle I.       J_5     Besnier H.     R_1

                      race_name horse_id horse_number     horse_name  \
0  Prix Zeturf (Prix North Jet)      H_1            1       MARSELAN
1  Prix Zeturf (Prix North Jet)      H_2            2    HASHTAG JOA
2  Prix Zeturf (Prix North Jet)      H_3            3          GABON
3  Prix Zeturf (Prix North Jet)      H_4            4  SACHA SUNRISE
4  Prix Zeturf (Prix North Jet)      H_5            5         ZABYAK

   handicap_weight  win_odd_live  reference_odd  min_place_odd  max_place_odd  \
0             57.0           3.1            3.0            1.3            1.8
1             55.5           4.4            5.1            1.8            2.4
2             55.5           2.9            3.1            1.3            1.8
3             55.5           6.7            6.1            3.0            4.2
4             55.5          15.4           14.6            5.5            7.6

   ze_show_odd  ze_4th_odd  position
0          5.0         0.0         1
1          3.4         0.0         4
2          3.6         0.0         2
3          4.2         0.0         3
4          8.1         0.0         5

In [98]:
print(winnings_df.head())

  winning_id race_id                                          race_name  \
0        W_1     R_1                       Prix Zeturf (Prix North Jet)
1        W_2     R_2                 Prix Grandeur Nature (Prix Ramsin)
2        W_3     R_3   Prix Sissy's Art et Création (Prix Voix du Nord)
3        W_4     R_4  Prix Clôture du Meeting Clairefontaine l'Athip...
4        W_5     R_5  Prix Juste Equilibre avec Darty Deauville (Pri...

   number of horses  win  1_place ZE_Show  2_place  3_place ZE_4th  ...  \
0                 6  3.1      1.5     3.6      1.5      0.0      0  ...
1                 7  3.0      1.4     3.2      1.2      0.0      0  ...
2                 7  5.1      3.2     7.2      4.7      0.0      0  ...
3                16  5.4      2.3    10.4      5.6      2.7   11.9  ...
4                12  7.7      2.2     8.5      3.0      1.6    7.2  ...

  ZE_2/4  ZE_4  ZE_4_order ZE_5 ZE_234_2 ZE_234_3  ZE_234_4  ZE_345_3  \
0    0.0     0           0    0        0        0         0         0
1    0.0     0           0    0        0        0         0         0
2    0.0     0           0    0        0        0         0         0
3    6.8     0           0    0        0        0         0         0
4    3.0     0           0    0        0        0         0         0

   ZE_345_4  ZE_345_5
0         0         0
1         0         0
2         0         0
3         0         0
4         0         0

[5 rows x 26 columns]

In [99]:
print(final_results_df.head())

  final_result_id race_id                                          race_name  \
0            FR_1     R_1                       Prix Zeturf (Prix North Jet)
1            FR_2     R_2                 Prix Grandeur Nature (Prix Ramsin)
2            FR_3     R_3   Prix Sissy's Art et Création (Prix Voix du Nord)
3            FR_4     R_4  Prix Clôture du Meeting Clairefontaine l'Athip...
4            FR_5     R_5  Prix Juste Equilibre avec Darty Deauville (Pri...

  1st  2nd  3rd  4th  5th  6th  7th
0   1    3    4    2    5    7    0
1   5    2    6    1    3    7    4
2   7    5    4    3    2    1    6
3   4   11    5    2   12    8   13
4  10    5    7    2    1   11    3

In [100]:
# Merge horses with races
merged_df = pd.merge(horses_df, races_df, on='race_id', how='inner')

# Merge the result with jockeys
merged_df = pd.merge(merged_df, jockeys_df, on=['race_id', 'horse_id'], how='inner')


# Rename 'race_name' in trainers_df to avoid conflict
trainers_df = trainers_df.rename(columns={'race_name': 'trainer_race_name'})

# Now merge without conflicts
merged_df = pd.merge(merged_df, trainers_df, on=['race_id', 'horse_id', 'jockey_id'], how='inner')

In [101]:
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75162 entries, 0 to 75161
Data columns (total 59 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   horse_id           75162 non-null  object
 1   race_id            75162 non-null  object
 2   race_name_x        75162 non-null  object
 3   horse_name_x       75162 non-null  object
 4   number             75162 non-null  object
 5   sex                75070 non-null  object
 6   age                75162 non-null  object
 7   handicap_weight_x  75162 non-null  float64
 8   jockey             75090 non-null  object
 9   trainer            75161 non-null  object
 10  win_odd_live_x     75162 non-null  float64
 11  reference_odd_x    75162 non-null  float64
 12  min_place_odd_x    75162 non-null  float64
 13  max_place_odd_x    75162 non-null  float64
 14  ze_show_odd_x      75162 non-null  float64
 15  ze_4th_odd_x       75162 non-null  float64
 16  music              75162 non-null  object
 17  corde_x            75162 non-null  int64
 18  position_x         75162 non-null  int64
 19  date               75162 non-null  object
 20  Start              75162 non-null  object
 21  event_name         75162 non-null  object
 22  race_name_y        75162 non-null  object
 23  race_type          75162 non-null  object
 24  distance           75162 non-null  int64
 25  prize              75150 non-null  float64
 26  field              75162 non-null  object
 27  track              75162 non-null  object
 28  corde_y            75162 non-null  object
 29  penetrometer       75162 non-null  float64
 30  number of horses   75162 non-null  int64
 31  race time          75162 non-null  float64
 32  jockey_id          75162 non-null  object
 33  jockey_name_x      75090 non-null  object
 34  race_name          75162 non-null  object
 35  horse_number_x     75162 non-null  object
 36  horse_name_y       75162 non-null  object
 37  handicap_weight_y  75162 non-null  float64
 38  win_odd_live_y     75162 non-null  float64
 39  reference_odd_y    75162 non-null  float64
 40  min_place_odd_y    75162 non-null  float64
 41  max_place_odd_y    75162 non-null  float64
 42  ze_show_odd_y      75162 non-null  float64
 43  ze_4th_odd_y       75162 non-null  float64
 44  position_y         75162 non-null  int64
 45  trainer_id         75162 non-null  object
 46  trainer_name       75161 non-null  object
 47  jockey_name_y      75090 non-null  object
 48  trainer_race_name  75162 non-null  object
 49  horse_number_y     75162 non-null  object
 50  horse_name         75162 non-null  object
 51  handicap_weight    75162 non-null  float64
 52  win_odd_live       75162 non-null  float64
 53  reference_odd      75162 non-null  float64
 54  min_place_odd      75162 non-null  float64
 55  max_place_odd      75162 non-null  float64
 56  ze_show_odd        75162 non-null  float64
 57  ze_4th_odd         75162 non-null  float64
 58  position           75162 non-null  int64
dtypes: float64(24), int64(6), object(29)
memory usage: 33.8+ MB
None

In [102]:
# Rename 'race_name' in prognoses_df
prognoses_df = prognoses_df.rename(columns={'race_name': 'prognose_race_name'})

# Now merge without conflicts
merged_df = pd.merge(merged_df, prognoses_df, on='race_id', how='left')

In [103]:
# Rename 'race_name' in final_results_df to avoid conflict
final_results_df = final_results_df.rename(columns={'race_name': 'final_race_name'})

# Now merge without conflicts
merged_df = pd.merge(merged_df, final_results_df, on='race_id', how='left')

In [104]:
print(merged_df.columns)

Index(['horse_id', 'race_id', 'race_name_x', 'horse_name_x', 'number', 'sex',
       'age', 'handicap_weight_x', 'jockey', 'trainer', 'win_odd_live_x',
       'reference_odd_x', 'min_place_odd_x', 'max_place_odd_x',
       'ze_show_odd_x', 'ze_4th_odd_x', 'music', 'corde_x', 'position_x',
       'date', 'Start', 'event_name', 'race_name_y', 'race_type', 'distance',
       'prize', 'field', 'track', 'corde_y', 'penetrometer',
       'number of horses', 'race time', 'jockey_id', 'jockey_name_x',
       'race_name', 'horse_number_x', 'horse_name_y', 'handicap_weight_y',
       'win_odd_live_y', 'reference_odd_y', 'min_place_odd_y',
       'max_place_odd_y', 'ze_show_odd_y', 'ze_4th_odd_y', 'position_y',
       'trainer_id', 'trainer_name', 'jockey_name_y', 'trainer_race_name',
       'horse_number_y', 'horse_name', 'handicap_weight', 'win_odd_live',
       'reference_odd', 'min_place_odd', 'max_place_odd', 'ze_show_odd',
       'ze_4th_odd', 'position', 'prognose_id', 'prognose_race_name', '1st_x',
       '2nd_x', '3nd', '4th_x', '5th_x', '6th_x', '7th_x', 'final_result_id',
       'final_race_name', '1st_y', '2nd_y', '3rd', '4th_y', '5th_y', '6th_y',
       '7th_y'],
      dtype='object')

In [105]:
# Rename 'race_name' in winnings_df if necessary
winnings_df = winnings_df.rename(columns={'race_name': 'winnings_race_name'})

# Now merge without conflicts
merged_df = pd.merge(merged_df, winnings_df, on='race_id', how='left')

In [106]:
print(merged_df.columns)

Index(['horse_id', 'race_id', 'race_name_x', 'horse_name_x', 'number', 'sex',
       'age', 'handicap_weight_x', 'jockey', 'trainer',
       ...
       'ZE_2/4', 'ZE_4', 'ZE_4_order', 'ZE_5', 'ZE_234_2', 'ZE_234_3',
       'ZE_234_4', 'ZE_345_3', 'ZE_345_4', 'ZE_345_5'],
      dtype='object', length=102)

In [107]:
print(merged_df.head())

  horse_id race_id                   race_name_x   horse_name_x number sex  \
0      H_1     R_1  Prix Zeturf (Prix North Jet)       MARSELAN      1   H
1      H_2     R_1  Prix Zeturf (Prix North Jet)    HASHTAG JOA      2   F
2      H_3     R_1  Prix Zeturf (Prix North Jet)          GABON      3   M
3      H_4     R_1  Prix Zeturf (Prix North Jet)  SACHA SUNRISE      4   M
4      H_5     R_1  Prix Zeturf (Prix North Jet)         ZABYAK      5   M

  age  handicap_weight_x         jockey                      trainer  ...  \
0   2               57.0      Demuro C.                     Brogi S.  ...
1   2               55.5   Roussel Ale.                  Monfort Ed.  ...
2   2               55.5  Murzabayev B.  Janackova Koplikova Mlle I.  ...
3   2               55.5       Guyon M.                 Vermeulen F.  ...
4   2               55.5     Besnier H.  Janackova Koplikova Mlle I.  ...

   ZE_2/4  ZE_4  ZE_4_order  ZE_5  ZE_234_2  ZE_234_3 ZE_234_4  ZE_345_3  \
0     0.0     0           0     0         0         0        0         0
1     0.0     0           0     0         0         0        0         0
2     0.0     0           0     0         0         0        0         0
3     0.0     0           0     0         0         0        0         0
4     0.0     0           0     0         0         0        0         0

   ZE_345_4 ZE_345_5
0         0        0
1         0        0
2         0        0
3         0        0
4         0        0

[5 rows x 102 columns]

In [108]:
print(merged_df.columns)

Index(['horse_id', 'race_id', 'race_name_x', 'horse_name_x', 'number', 'sex',
       'age', 'handicap_weight_x', 'jockey', 'trainer',
       ...
       'ZE_2/4', 'ZE_4', 'ZE_4_order', 'ZE_5', 'ZE_234_2', 'ZE_234_3',
       'ZE_234_4', 'ZE_345_3', 'ZE_345_4', 'ZE_345_5'],
      dtype='object', length=102)

In [109]:
# merged_df.to_csv(r'C:\Users\sujit\OneDrive - Sri Lanka Institute of Information Technology\Research SLIIT\Research Project\Dataset\merged_horse_racing_data3.csv', index=False)

In [110]:
print(merged_df.head())  # Shows the first 5 rows

  horse_id race_id                   race_name_x   horse_name_x number sex  \
0      H_1     R_1  Prix Zeturf (Prix North Jet)       MARSELAN      1   H
1      H_2     R_1  Prix Zeturf (Prix North Jet)    HASHTAG JOA      2   F
2      H_3     R_1  Prix Zeturf (Prix North Jet)          GABON      3   M
3      H_4     R_1  Prix Zeturf (Prix North Jet)  SACHA SUNRISE      4   M
4      H_5     R_1  Prix Zeturf (Prix North Jet)         ZABYAK      5   M

  age  handicap_weight_x         jockey                      trainer  ...  \
0   2               57.0      Demuro C.                     Brogi S.  ...
1   2               55.5   Roussel Ale.                  Monfort Ed.  ...
2   2               55.5  Murzabayev B.  Janackova Koplikova Mlle I.  ...
3   2               55.5       Guyon M.                 Vermeulen F.  ...
4   2               55.5     Besnier H.  Janackova Koplikova Mlle I.  ...

   ZE_2/4  ZE_4  ZE_4_order  ZE_5  ZE_234_2  ZE_234_3 ZE_234_4  ZE_345_3  \
0     0.0     0           0     0         0         0        0         0
1     0.0     0           0     0         0         0        0         0
2     0.0     0           0     0         0         0        0         0
3     0.0     0           0     0         0         0        0         0
4     0.0     0           0     0         0         0        0         0

   ZE_345_4 ZE_345_5
0         0        0
1         0        0
2         0        0
3         0        0
4         0        0

[5 rows x 102 columns]

In [111]:
# Remove duplicate columns based on their names
merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

In [112]:
# Remove columns with duplicate content
merged_df = merged_df.T.drop_duplicates().T

In [113]:
print(merged_df.columns)  # Check which columns remain after dropping duplicates

Index(['horse_id', 'race_id', 'race_name_x', 'horse_name_x', 'number', 'sex',
       'age', 'handicap_weight_x', 'jockey', 'trainer', 'win_odd_live_x',
       'reference_odd_x', 'min_place_odd_x', 'max_place_odd_x',
       'ze_show_odd_x', 'ze_4th_odd_x', 'music', 'corde_x', 'position_x',
       'date', 'Start', 'event_name', 'race_type', 'distance', 'prize',
       'field', 'track', 'corde_y', 'penetrometer', 'number of horses_x',
       'race time', 'jockey_id', 'trainer_id', 'prognose_id', '1st_x', '2nd_x',
       '3nd', '4th_x', '5th_x', '6th_x', '7th_x', 'final_result_id', '1st_y',
       '2nd_y', '3rd', '4th_y', '5th_y', '6th_y', '7th_y', 'winning_id', 'win',
       '1_place', 'ZE_Show', '2_place', '3_place', 'ZE_4th', '1_2_win',
       '1_2_place', '1_3_place', '1_2_order', 'trifecta_box', 'trifecta',
       'ZE_2/4', 'ZE_4'],
      dtype='object')

In [114]:
# merged_df.to_csv(r'C:\Users\sujit\OneDrive - Sri Lanka Institute of Information Technology\Research SLIIT\Research Project\Dataset\merged_horse_racing_data3.csv', index=False)