In [2]:
import pandas as pd

# Load CSV files into DataFrames
horses_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\horses.csv')
jockeys_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\jockeys.csv')
races_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\races.csv')
trainers_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\trainers.csv')
winnings_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\winnings.csv')
final_results_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\final_results.csv')

In [3]:
# Merge horses with races
merged_df = pd.merge(horses_df, races_df, on='race_id', how='inner')

In [4]:
# Merge the result with jockeys
merged_df = pd.merge(merged_df, jockeys_df, on=['race_id', 'horse_id'], how='inner')

In [5]:
# Rename 'race_name' in trainers_df to avoid conflict
trainers_df = trainers_df.rename(columns={'race_name': 'trainer_race_name'})

# Now merge without conflicts
merged_df = pd.merge(merged_df, trainers_df, on=['race_id', 'horse_id', 'jockey_id'], how='inner')

In [6]:
# Rename 'race_name' in final_results_df to avoid conflict
final_results_df = final_results_df.rename(columns={'race_name': 'final_race_name'})

# Now merge without conflicts
merged_df = pd.merge(merged_df, final_results_df, on='race_id', how='left')

In [7]:
#merged_df.to_csv(r'C:\Users\sujit\OneDrive - Sri Lanka Institute of Information Technology\Research SLIIT\Research Project\Dataset\merged_horse_racing_data4.csv', index=False)

In [8]:
merged_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\merged_horse_racing_data4.csv')

C:\Users\sujit\AppData\Local\Temp\ipykernel_12628\3875104938.py:1: DtypeWarning: Columns (4,6,35,49,61) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\merged_horse_racing_data4.csv')

In [9]:
print(merged_df.head())  # Shows the first 5 rows

  horse_id race_id                     race_name     horse_name number sex  \
0      H_1     R_1  Prix Zeturf (Prix North Jet)       MARSELAN      1   H
1      H_2     R_1  Prix Zeturf (Prix North Jet)    HASHTAG JOA      2   F
2      H_3     R_1  Prix Zeturf (Prix North Jet)          GABON      3   M
3      H_4     R_1  Prix Zeturf (Prix North Jet)  SACHA SUNRISE      4   M
4      H_5     R_1  Prix Zeturf (Prix North Jet)         ZABYAK      5   M

  age  handicap_weight         jockey                      trainer  ...  \
0   2             57.0      Demuro C.                     Brogi S.  ...
1   2             55.5   Roussel Ale.                  Monfort Ed.  ...
2   2             55.5  Murzabayev B.  Janackova Koplikova Mlle I.  ...
3   2             55.5       Guyon M.                 Vermeulen F.  ...
4   2             55.5     Besnier H.  Janackova Koplikova Mlle I.  ...

   position.2  final_result_id               final_race_name  1st  2nd  3rd  \
0           1             FR_1  Prix Zeturf (Prix North Jet)    1    3    4
1           4             FR_1  Prix Zeturf (Prix North Jet)    1    3    4
2           2             FR_1  Prix Zeturf (Prix North Jet)    1    3    4
3           3             FR_1  Prix Zeturf (Prix North Jet)    1    3    4
4           5             FR_1  Prix Zeturf (Prix North Jet)    1    3    4

  4th  5th  6th 7th
0   2    5    7   0
1   2    5    7   0
2   2    5    7   0
3   2    5    7   0
4   2    5    7   0

[5 rows x 68 columns]

In [10]:
print(merged_df.columns)  # Check which columns remain after dropping duplicates

Index(['horse_id', 'race_id', 'race_name', 'horse_name', 'number', 'sex',
       'age', 'handicap_weight', 'jockey', 'trainer', 'win_odd_live',
       'reference_odd', 'min_place_odd', 'max_place_odd', 'ze_show_odd',
       'ze_4th_odd', 'music', 'corde', 'position', 'date', 'Start',
       'event_name', 'race_name.1', 'race_type', 'distance', 'prize', 'field',
       'track', 'corde.1', 'penetrometer', 'number of horses', 'race time',
       'jockey_id', 'jockey_name', 'race_name.2', 'horse_number',
       'horse_name.1', 'handicap_weight.1', 'win_odd_live.1',
       'reference_odd.1', 'min_place_odd.1', 'max_place_odd.1',
       'ze_show_odd.1', 'ze_4th_odd.1', 'position.1', 'trainer_id',
       'trainer_name', 'jockey_name.1', 'trainer_race_name', 'horse_number.1',
       'horse_name.2', 'handicap_weight.2', 'win_odd_live.2',
       'reference_odd.2', 'min_place_odd.2', 'max_place_odd.2',
       'ze_show_odd.2', 'ze_4th_odd.2', 'position.2', 'final_result_id',
       'final_race_name', '1st', '2nd', '3rd', '4th', '5th', '6th', '7th'],
      dtype='object')

In [11]:
# Remove duplicate columns based on their names
merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

In [12]:
# Remove columns with duplicate content
merged_df = merged_df.T.drop_duplicates().T

In [13]:
print(merged_df.columns)  # Check which columns remain after dropping duplicates

Index(['horse_id', 'race_id', 'race_name', 'horse_name', 'number', 'sex',
       'age', 'handicap_weight', 'jockey', 'trainer', 'win_odd_live',
       'reference_odd', 'min_place_odd', 'max_place_odd', 'ze_show_odd',
       'ze_4th_odd', 'music', 'corde', 'position', 'date', 'Start',
       'event_name', 'race_type', 'distance', 'prize', 'field', 'track',
       'corde.1', 'penetrometer', 'number of horses', 'race time', 'jockey_id',
       'trainer_id', 'final_result_id', '1st', '2nd', '3rd', '4th', '5th',
       '6th', '7th'],
      dtype='object')

In [14]:
print(merged_df.head)  # Check which columns remain after dropping duplicates

<bound method NDFrame.head of       horse_id race_id                     race_name        horse_name number  \
0          H_1     R_1  Prix Zeturf (Prix North Jet)          MARSELAN      1
1          H_2     R_1  Prix Zeturf (Prix North Jet)       HASHTAG JOA      2
2          H_3     R_1  Prix Zeturf (Prix North Jet)             GABON      3
3          H_4     R_1  Prix Zeturf (Prix North Jet)     SACHA SUNRISE      4
4          H_5     R_1  Prix Zeturf (Prix North Jet)            ZABYAK      5
...        ...     ...                           ...               ...    ...
75157  H_75158  R_6548           Prix Javier Nino H.      WINNER STATE     11
75158  H_75159  R_6548           Prix Javier Nino H.     REO POR LINDO     12
75159  H_75160  R_6548           Prix Javier Nino H.           DEMENTE     13
75160  H_75161  R_6548           Prix Javier Nino H.        MI MARTUCA     14
75161  H_75162  R_6548           Prix Javier Nino H.  LORD OF THE WIND     15

      sex age handicap_weight                      jockey  \
0       H   2            57.0                   Demuro C.
1       F   2            55.5                Roussel Ale.
2       M   2            55.5               Murzabayev B.
3       M   2            55.5                    Guyon M.
4       M   2            55.5                  Besnier H.
...    ..  ..             ...                         ...
75157   H   8            53.0                  S Gonzalez
75158   M   8            56.0      Santibanez Chavez Nic.
75159   H   4            52.0  Carrasco Rodriguez Die. F.
75160   F   8            57.0                     Leon W.
75161   M   5            56.0                 Vargas Wil.

                             trainer  ... jockey_id trainer_id  \
0                           Brogi S.  ...       J_1        T_1
1                        Monfort Ed.  ...       J_2        T_2
2        Janackova Koplikova Mlle I.  ...       J_3        T_3
3                       Vermeulen F.  ...       J_4        T_4
4        Janackova Koplikova Mlle I.  ...       J_5        T_3
...                              ...  ...       ...        ...
75157  Raul Andres Montesino Serrano  ...     J_359     T_1082
75158             Aldo Rodolfo Parra  ...     J_327      T_442
75159                    R Montesino  ...     J_363     T_1066
75160  Juan Pablo Rodriguez Riquelme  ...     J_331     T_1098
75161             Aldo Rodolfo Parra  ...     J_857      T_442

      final_result_id 1st 2nd 3rd 4th 5th 6th 7th
0                FR_1   1   3   4   2   5   7   0
1                FR_1   1   3   4   2   5   7   0
2                FR_1   1   3   4   2   5   7   0
3                FR_1   1   3   4   2   5   7   0
4                FR_1   1   3   4   2   5   7   0
...               ...  ..  ..  ..  ..  ..  ..  ..
75157         FR_6548  10   5   3  12   2   7   4
75158         FR_6548  10   5   3  12   2   7   4
75159         FR_6548  10   5   3  12   2   7   4
75160         FR_6548  10   5   3  12   2   7   4
75161         FR_6548  10   5   3  12   2   7   4

[75162 rows x 41 columns]>

In [15]:
#merged_df.to_csv(r'C:\Users\sujit\OneDrive - Sri Lanka Institute of Information Technology\Research SLIIT\Research Project\Dataset\Final_horse_racing_dataset.csv', index=False)

In [16]:
merged_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\Final_horse_racing_dataset.csv')

C:\Users\sujit\AppData\Local\Temp\ipykernel_12628\50200906.py:1: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv('C:\\Users\\sujit\\OneDrive - Sri Lanka Institute of Information Technology\\Research SLIIT\\Research Project\\Dataset\\Final_horse_racing_dataset.csv')

In [17]:
print(merged_df.head)  # Check which columns remain after dropping duplicates

<bound method NDFrame.head of       horse_id race_id                     race_name        horse_name number  \
0          H_1     R_1  Prix Zeturf (Prix North Jet)          MARSELAN      1
1          H_2     R_1  Prix Zeturf (Prix North Jet)       HASHTAG JOA      2
2          H_3     R_1  Prix Zeturf (Prix North Jet)             GABON      3
3          H_4     R_1  Prix Zeturf (Prix North Jet)     SACHA SUNRISE      4
4          H_5     R_1  Prix Zeturf (Prix North Jet)            ZABYAK      5
...        ...     ...                           ...               ...    ...
75157  H_75158  R_6548           Prix Javier Nino H.      WINNER STATE     11
75158  H_75159  R_6548           Prix Javier Nino H.     REO POR LINDO     12
75159  H_75160  R_6548           Prix Javier Nino H.           DEMENTE     13
75160  H_75161  R_6548           Prix Javier Nino H.        MI MARTUCA     14
75161  H_75162  R_6548           Prix Javier Nino H.  LORD OF THE WIND     15

      sex age  handicap_weight                      jockey  \
0       H   2             57.0                   Demuro C.
1       F   2             55.5                Roussel Ale.
2       M   2             55.5               Murzabayev B.
3       M   2             55.5                    Guyon M.
4       M   2             55.5                  Besnier H.
...    ..  ..              ...                         ...
75157   H   8             53.0                  S Gonzalez
75158   M   8             56.0      Santibanez Chavez Nic.
75159   H   4             52.0  Carrasco Rodriguez Die. F.
75160   F   8             57.0                     Leon W.
75161   M   5             56.0                 Vargas Wil.

                             trainer  ...  jockey_id  trainer_id  \
0                           Brogi S.  ...        J_1         T_1
1                        Monfort Ed.  ...        J_2         T_2
2        Janackova Koplikova Mlle I.  ...        J_3         T_3
3                       Vermeulen F.  ...        J_4         T_4
4        Janackova Koplikova Mlle I.  ...        J_5         T_3
...                              ...  ...        ...         ...
75157  Raul Andres Montesino Serrano  ...      J_359      T_1082
75158             Aldo Rodolfo Parra  ...      J_327       T_442
75159                    R Montesino  ...      J_363      T_1066
75160  Juan Pablo Rodriguez Riquelme  ...      J_331      T_1098
75161             Aldo Rodolfo Parra  ...      J_857       T_442

       final_result_id  1st  2nd  3rd 4th  5th  6th 7th
0                 FR_1    1    3    4   2    5    7   0
1                 FR_1    1    3    4   2    5    7   0
2                 FR_1    1    3    4   2    5    7   0
3                 FR_1    1    3    4   2    5    7   0
4                 FR_1    1    3    4   2    5    7   0
...                ...  ...  ...  ...  ..  ...  ...  ..
75157          FR_6548   10    5    3  12    2    7   4
75158          FR_6548   10    5    3  12    2    7   4
75159          FR_6548   10    5    3  12    2    7   4
75160          FR_6548   10    5    3  12    2    7   4
75161          FR_6548   10    5    3  12    2    7   4

[75162 rows x 41 columns]>

Handling Missing Values

In [18]:
# Check for missing values
print(merged_df.isnull().sum())

horse_id             0
race_id              0
race_name            0
horse_name           0
number               0
sex                 92
age                  0
handicap_weight      0
jockey              72
trainer              1
win_odd_live         0
reference_odd        0
min_place_odd        0
max_place_odd        0
ze_show_odd          0
ze_4th_odd           0
music                0
corde                0
position             0
date                 0
Start                0
event_name           0
race_type            0
distance             0
prize               12
field                0
track                0
corde.1              0
penetrometer         0
number of horses     0
race time            0
jockey_id            0
trainer_id           0
final_result_id      0
1st                  0
2nd                  0
3rd                  0
4th                  0
5th                  0
6th                  0
7th                  0
dtype: int64

In [19]:
# Fill missing values in 'prize' with the mean
merged_df['prize'].fillna(merged_df['prize'].mean(), inplace=True)

# Alternatively, fill missing values in 'prize' with the median
merged_df['prize'].fillna(merged_df['prize'].median(), inplace=True)

In [20]:
# Fill missing values in 'jockey' with 'Unknown'
merged_df['jockey'].fillna('Unknown', inplace=True)

In [21]:
# Fill missing values in 'sex' with 'Unknown'
merged_df['sex'].fillna('Unknown', inplace=True)

In [22]:
# Fill missing values in 'trainer' with 'Unknown'
merged_df['trainer'].fillna('Unknown', inplace=True)

In [23]:
# Check if there are any missing values left
print(merged_df.isnull().sum())

horse_id            0
race_id             0
race_name           0
horse_name          0
number              0
sex                 0
age                 0
handicap_weight     0
jockey              0
trainer             0
win_odd_live        0
reference_odd       0
min_place_odd       0
max_place_odd       0
ze_show_odd         0
ze_4th_odd          0
music               0
corde               0
position            0
date                0
Start               0
event_name          0
race_type           0
distance            0
prize               0
field               0
track               0
corde.1             0
penetrometer        0
number of horses    0
race time           0
jockey_id           0
trainer_id          0
final_result_id     0
1st                 0
2nd                 0
3rd                 0
4th                 0
5th                 0
6th                 0
7th                 0
dtype: int64

Convert Data Types

In [24]:
# Check current data types
print(merged_df.dtypes)

horse_id             object
race_id              object
race_name            object
horse_name           object
number               object
sex                  object
age                  object
handicap_weight     float64
jockey               object
trainer              object
win_odd_live        float64
reference_odd       float64
min_place_odd       float64
max_place_odd       float64
ze_show_odd         float64
ze_4th_odd          float64
music                object
corde                 int64
position              int64
date                 object
Start                object
event_name           object
race_type            object
distance              int64
prize               float64
field                object
track                object
corde.1              object
penetrometer        float64
number of horses      int64
race time           float64
jockey_id            object
trainer_id           object
final_result_id      object
1st                  object
2nd                   int64
3rd                   int64
4th                   int64
5th                   int64
6th                   int64
7th                   int64
dtype: object

In [25]:
# Replace 'Unknown' with 0 in the 'age' column
merged_df['age'].replace('Unknown', 0, inplace=True)

In [26]:
# Convert 'age' to numeric and handle any remaining non-numeric entries
merged_df['age'] = pd.to_numeric(merged_df['age'], errors='coerce')

# Now, fill any remaining NaN values with 0
merged_df['age'].fillna(0, inplace=True)

# Finally, convert 'age' to int
merged_df['age'] = merged_df['age'].astype(int)

In [27]:
import pandas as pd

# Assuming merged_df is already defined

# Convert columns to appropriate types
merged_df['number'] = merged_df['number'].astype('category')  # Convert 'number' to category
merged_df['race_name'] = merged_df['race_name'].astype('category')
merged_df['horse_name'] = merged_df['horse_name'].astype('category')
merged_df['sex'] = merged_df['sex'].astype('category')
merged_df['jockey'] = merged_df['jockey'].astype('category')
merged_df['trainer'] = merged_df['trainer'].astype('category')
merged_df['music'] = merged_df['music'].astype('category')
merged_df['date'] = pd.to_datetime(merged_df['date'], errors='coerce')  # Convert to datetime
merged_df['Start'] = pd.to_datetime(merged_df['Start'], errors='coerce')  # Convert to datetime
merged_df['event_name'] = merged_df['event_name'].astype('category')
merged_df['race_type'] = merged_df['race_type'].astype('category')

# Check the new data types
print(merged_df.dtypes)

horse_id                    object
race_id                     object
race_name                 category
horse_name                category
number                    category
sex                       category
age                          int32
handicap_weight            float64
jockey                    category
trainer                   category
win_odd_live               float64
reference_odd              float64
min_place_odd              float64
max_place_odd              float64
ze_show_odd                float64
ze_4th_odd                 float64
music                     category
corde                        int64
position                     int64
date                datetime64[ns]
Start               datetime64[ns]
event_name                category
race_type                 category
distance                     int64
prize                      float64
field                       object
track                       object
corde.1                     object
penetrometer               float64
number of horses             int64
race time                  float64
jockey_id                   object
trainer_id                  object
final_result_id             object
1st                         object
2nd                          int64
3rd                          int64
4th                          int64
5th                          int64
6th                          int64
7th                          int64
dtype: object

C:\Users\sujit\AppData\Local\Temp\ipykernel_12628\2563754893.py:13: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  merged_df['date'] = pd.to_datetime(merged_df['date'], errors='coerce')  # Convert to datetime
C:\Users\sujit\AppData\Local\Temp\ipykernel_12628\2563754893.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_df['Start'] = pd.to_datetime(merged_df['Start'], errors='coerce')  # Convert to datetime

In [28]:
# One-hot encode categorical variables
merged_df_encoded = pd.get_dummies(
    merged_df, 
    columns=['sex', 'jockey', 'trainer', 'music', 'race_name', 'horse_name', 'race_type'], 
    drop_first=True
)

# Check the new DataFrame shape and first few rows
print(merged_df_encoded.shape)
print(merged_df_encoded.head())

(75162, 121182)
  horse_id race_id number  age  handicap_weight  win_odd_live  reference_odd  \
0      H_1     R_1      1    2             57.0           3.1            3.0
1      H_2     R_1      2    2             55.5           4.4            5.1
2      H_3     R_1      3    2             55.5           2.9            3.1
3      H_4     R_1      4    2             55.5           6.7            6.1
4      H_5     R_1      5    2             55.5          15.4           14.6

   min_place_odd  max_place_odd  ze_show_odd  ...  horse_name_ZWIALH  \
0            1.3            1.8          5.0  ...              False
1            1.8            2.4          3.4  ...              False
2            1.3            1.8          3.6  ...              False
3            3.0            4.2          4.2  ...              False
4            5.5            7.6          8.1  ...              False

   horse_name_ZYGARDE  horse_name_ZYGFRYD race_type_Cross  \
0               False               False           False
1               False               False           False
2               False               False           False
3               False               False           False
4               False               False           False

  race_type_Cross-Country race_type_Haies  race_type_Monté  race_type_Plat  \
0                   False           False            False            True
1                   False           False            False            True
2                   False           False            False            True
3                   False           False            False            True
4                   False           False            False            True

  race_type_Steeple race_type_Steeple-chase
0             False                   False
1             False                   False
2             False                   False
3             False                   False
4             False                   False

[5 rows x 121182 columns]

In [29]:
print(merged_df_encoded.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75162 entries, 0 to 75161
Columns: 121182 entries, horse_id to race_type_Steeple-chase
dtypes: bool(121148), category(2), datetime64[ns](2), float64(10), int32(1), int64(10), object(9)
memory usage: 8.5+ GB
None

In [30]:
print(merged_df_encoded.columns)  # Check which columns remain after dropping duplicates

Index(['horse_id', 'race_id', 'number', 'age', 'handicap_weight',
       'win_odd_live', 'reference_odd', 'min_place_odd', 'max_place_odd',
       'ze_show_odd',
       ...
       'horse_name_ZWIALH', 'horse_name_ZYGARDE', 'horse_name_ZYGFRYD',
       'race_type_Cross', 'race_type_Cross-Country', 'race_type_Haies',
       'race_type_Monté', 'race_type_Plat', 'race_type_Steeple',
       'race_type_Steeple-chase'],
      dtype='object', length=121182)

In [31]:
from sklearn.preprocessing import StandardScaler

# Assuming you want to standardize certain features
scaler = StandardScaler()
scaled_columns = ['handicap_weight', 'win_odd_live', 'reference_odd', 
                  'min_place_odd', 'max_place_odd', 'ze_show_odd', 
                  'ze_4th_odd', 'corde', 'position', 'distance', 'prize', 
                  '5th', '6th', '7th']
merged_df_encoded[scaled_columns] = scaler.fit_transform(merged_df_encoded[scaled_columns])

In [32]:
from sklearn.model_selection import train_test_split

# Predict 'position' as the target variable
X = merged_df_encoded.drop(columns=['position'])  # Drop the target column from features
y = merged_df_encoded['position']  # Target column for prediction

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)